:root{
  --tam-casilla: 10vh;
}

body{
  background-color: rgb(39, 66, 39);
}

.App{
  display: grid;
  height: 400px;
  background-color: rgb(205, 187, 187);
  place-content: center;
}

.col{
  height: var(--tam-casilla);
  width: var(--tam-casilla);
  background-color: aquamarine;
  border: 1px solid black;

  padding: 0px;
}

#col-especial{
  background-color: pink;
}

.col-diferente{
  background-color: rgb(201, 170, 128);
}

.btn-casilla{
  height: 10vh;
  width: 10vh;
  background-color: rgb(42, 97, 57);
  border-radius: 0px;
}